* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(30, 30, 30);
    color: white;
}

header {
    background-color: rgb(50, 50, 50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.box {
    margin-left: 680px;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    background-color: rgb(60, 60, 60);
    border: 20px solid;
    border-image-width: 20px;
    border-image-source: url("https://img.freepik.com/vector-gratis/fondo-galaxia-acuarela-pintada-mano_52683-63441.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1704240000&semt=ais");
    border-image-slice: 120;
    border-image-outset: 0px;
}