*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
}

header {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 70px;
    padding: 10px;
    background-color: #333;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

section.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    padding: 10px;
    padding-bottom: 400px;
    margin-top: 50px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    margin-bottom: 200px;
}

aside {
    border-radius: 15px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    padding: 10px;
}

footer {
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

@media screen and (min-width: 768px) {
    nav {
        position: fixed;
        width: 100%;
        top: 0;
    }

    section.contenido {
        flex-direction: row;
    }

    article {
        width: 45%;
    }

    aside {
        width: 48%;
        position: static;
    }
}
