*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    background-color: rgb(38, 38, 38);
}
header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 60, 60);
}
nav{
    background-color: rgb(50, 50, 50);
    display: flex;
    padding-left: 50px;
}
nav a{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: yellow;
}
nav a:hover{
    background-color: rgb(60, 60, 60);
    color: rgb(255, 0, 255);
}
nav a:active{
    text-decoration: underline;
}